<div class="card border-info m-5">
  <div class="card-header">
    <h1><i class="fas fa-envelope"></i> Contacte nous sur le slack</h1>
  </div>
  <div class="card-body text-info">
    <h4 class="mb-4"><i class="fas fa-map-marker-alt"></i>Depuis partout en France</h4>
      <p class="card-text"><i class="fas fa-map-marker-alt"></i>Chez toi, dans les transports, cafés..</p>
      <p class="card-text"><i class="fas fa-clock"></i>À toute heure du jour et de la nuit</p>
  </div>
</div>
