<div class="card border-info m-5">
  <div class="card-header">
    <h1><i class="fas fa-envelope"></i> Contacter la team à l'arrache</h1>
  </div>
  <div class="card-body text-info">
    <h4 class="mb-4"><i class="fas fa-map-marker-alt"></i> Passe donc nous voir à la Felicità</h4>
      <p class="card-text"><i class="fas fa-map-marker-alt"></i> 5 parvis alan turing, 75013 PARIS</p>
      <p class="card-text"><i class="fas fa-clock"></i> Permanence du lundi au vendredi de 9h à 19h</p>
  </div>
</div>
